.container-text{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 1.5rem;
}

.hero{
    height: 500px;
}



.box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
    background-color: green;
}

.row1{
    display: flex;
    gap: 1rem;
    background-color: red;
}







.accordion{
    max-width: 75%;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 5px 10%;
}

.file{
    background-color: #fff;
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
    transition: 2s ease;
}

.file span{
    position: absolute;
    right: 20px;
    transition: 5s ease-in-out;
}


.answer{
    transition: 2s ease-in-out;
    border: 1px dashed rgb(0, 255, 64);
    padding: 5px 4px;
}




.cars{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    align-items: center;
    gap: 1rem;
    margin-bottom: 10px;
    padding: 0px 5%;
}
.selected img{
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
}

.selected img:hover{
    transform: translateY(-8px);
}

















.menus{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
    padding: 20px 0px;
}

@media screen and (max-width:430px){
    
    .menus{
        gap: 10px;
        padding: 10px 10px;
        font-size: 14px;
    }

    .menu-items p{
        font-size: 13px;
        text-transform: lowercase;
    }
}