*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}

p{
  color: #000000;
  font-size: 16px;
}

h1,h2{
  font-size: 32px;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

div{
  font-size: 16px;
}

section{
  padding: 20px 10%;
}
